*{
    margin:  0;
    padding: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type{
    font-size: 13px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;

}
main div h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;
    margin-bottom: 1px;
}
main div h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    /* identical to box height, or 110% */

    text-align: center;

    color: #FFFFFF;
margin-bottom: 18px;
}
main div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #C0C0C0;
}
.center_banner{
    background: #000000;
    padding-bottom: 169px;
}
.center{
    max-width: 1200px;
    padding-top: 120px;
    padding-bottom: 100px;
}
.center_banner .center{
    text-align: center;
    margin: auto;
}
.first_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    /* identical to box height, or 105% */

    text-align: center;

    color: #FFFFFF;
    margin-bottom: 15px;

}
.second_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #C0C0C0;
}

.list{
    margin: auto;
    text-align: center;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center_banner2{
    padding-bottom: 108px;
    background: #000000;
    padding-top: 113px;
}
.center2{
    max-width: 600px;
}
.center_banner2 .center2{
    text-align: center;
    margin: auto;
}
.third_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */

    text-align: center;

    color: #FFFFFF;
    margin-bottom: 15px;

}
.four_list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #C0C0C0;
    padding-bottom: 27px;
}
.btn_git{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.4px;

    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
}
.btn_git:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
}
footer .container{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    padding-bottom: 36px;
}
.footer_logo{
max-width: 128px;
    margin-bottom: 20px;
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}
footer .container p {
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */


    color: #C0C0C0;
}
.links{
    max-width: 458px;
    width: 100%;
    justify-content: flex-start;
}
footer ul{
    list-style: none;
    text-decoration: none;
}
footer ul:first-of-type{
    margin-right: 55px;
}
footer li{
    padding-bottom: 10px;
}
footer li a{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

